html {
  background-image: url("./images/testimage.jpg");
}
body {
  font-family: "Gothic A1", sans-serif;
}
.site-main-outer {
  padding: 1em;
  margin-top: 30vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75em;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.45);
}

.site-main-inner {
  padding: 1em;
  border-radius: 0.75em;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
}

.register-input-container,
.login-input-container {
  display: grid;
}
input {
  background: transparent;
  border: none;
  outline: none;
  margin: 5px;
}
a {
  text-decoration: none;
  color: rgba(1, 1, 0.6, 0.4);
}
.footer-colors {
  text-decoration: none;
  font-size: 16px;
  padding: 1em;
}
h2 {
  margin: 0.5em;
  color: rgba(0, 0, 0, 0.6);
}

.register-form .input-prefix-icon,
.login-form .input-prefix-icon,
.update-form .input-prefix-icon {
  width: 16px;
  color: rgba(0, 0, 0, 0.3);
}

.register-form,
.login-form,
.update-form {
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}

.register-btn,
.login-btn,
.go-back-btn,
.update-btn {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}

.register-btn:hover,
.login-btn:hover,
.go-back-btn:hover,
.update-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}

.register-btn:active,
.logiin-btn:active,
.go-back-btn:active,
.update-btn:active {
  color: rgba(0, 0, 0, 0.6);
}

.login-page-btn {
  color: rgba(0, 0, 0, 0.3);
}

.login-btns {
  display: flex;
}

#footer {
  text-align: center;
  margin-top: 20%;
}

.footer-colors {
  color: rgba(0, 0, 0, 0.5);
}

.footer-colors:hover {
  color: rgba(0, 0, 0, 0.4);
}

.footer-colors:active {
  color: rgba(0, 0, 0, 0.6);
}

#navlink {
  margin-left: 1em;
}
#get-login-btn {
  margin-left: 1em;
}
.register-input-container .register-btn {
  margin: -0.3em;
}
.nav-bar-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75em;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.45); */
}

#home-btn,
#love-btn,
#sign-out-btn,
#config-btn,
#search-btn {
  padding: 1.5em;
}

.settings {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.settings #user-edit,
.settings .user-delete {
  padding: 0 3em;
  text-align: center;
}
