html {
  background-image: url("./images/testimage.jpg");
}

.site-main-outer {
  padding: 1em;
  margin-top: 30vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75em;
  backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 14px -3px rgba(0, 0, 0, 0.45);
}
.site-main-inner {
  padding: 1em;
  /* margin-top: 30vh; */
  border-radius: 0.75em;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: multiply;
  backdrop-filter: blur(10px);
}
.login-style {
  background-color: white;
}
input {
  background: transparent;
  border: none;
  outline: none;
  margin: 5px;
}
.register-form .input-prefix-icon {
  width: 16px;
  color: rgba(0, 0, 0, 0.3);
}
.register-form {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.register-btn,
.login-btn,
.go-back-btn {
  background: transparent;
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
}
.register-btn:hover,
.login-btn:hover,
.go-back-btn:hover {
  color: rgba(0, 0, 0, 0.4);
}
.register-btn:active,
.logiin-btn:active,
.go-back-btn:active {
  color: rgba(0, 0, 0, 0.6);
}
.go-back-btn {
  /* position: absolute;
  top: 0px;
  right: 0px; */
  color: rgba(0, 0, 0, 0.3);
}
.login-btns {
  display: flex;
}
